<h1>About Us</h1>
<div class= "center-hero unit">
  <li><b>IncapacitationPlan.com</b> is an easy way for you to store practical information about your financial accounts in case something unexpected happens.</li>

  <li>You can record information that is top-of-mind, and make that information available to anyone who might need to know.</li>

  <li>Please note, although we use the highest levels of security, we strongly discourage you from entering actual bank account numbers, usernames, or passwords.</li>
</div>
