<h1>How does it work?</h1>
<div class= "center-hero unit">
  <ol>
  <li><b>You</b> enter notes about your financial accounts that would help someone to manage your day-to-day affairs for you.</li>

  <li><b>You</b> designate "helpers" who can view your information at any time. This ensures that they can access the information if they need it.</li>

  <li><b>Your helpers</b> activate their IncapacitationPlan.com account and can view your financial notes when they log in.</li></ol>

  <li>Please note, although our site uses secure encryption methods, we strongly discourage you from entering actual bank account numbers, usernames, or passwords.</li>
</ol>
</div>
