<!DOCTYPE html>
<html>
<div class="center hero-unit">
  <h1>Welcome to IncapacitationPlan.com!</h1>

    <h2> IncapacitationPlan.com helps you to easily record and share practical information that will help your loved ones manage your affairs if you are unable.
    </h2>
    <p><%= link_to image_tag("handbook.png", options = {alt: "Incapacitation Plan", size: "160x162" } ), '#' %></p>
    <p><%= link_to "Sign up now!", new_user_url, class: "btn btn-large btn-primary" %></p>
    <%= link_to "Sign in", '/login', class: "btn btn-large" %>

  </div>
