<!DOCTYPE html>
<html>
<div class="center hero-unit">
  <h1>Welcome to Elephant!</h1>

    <h2> Elephant helps you to do all the things a will won't: provide easy-to-use information to help your loved ones manage your affairs if you are unable.
    </h2>

    <%= link_to "Sign up now!", new_user_url, class: "btn btn-large btn-primary" %>
  </div>
    <%= link_to image_tag("elephant.PNG", options = {alt: "Elephant", size: "180x150" } ), '#' %>
