<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1> Welcome to IncapacitationPlan.com, <%= @user.first_name %></h1>
    <p>
    You have successfully signed up to IncapacitationPlan.com. Please confirm that this email address is valid by following the below link: </p>

    <h2><a href=<%= @url %>>Verify Email Address</a></h2>

    <p> Thanks for joining and have a great day!</p>
  </body>
</html>
