<h1>Designate your helpers</h1>
<h5>This person will be able to view (but not edit) your information, starting immediately. </h5>


<%= form_tag(relationships_url, method: 'post') do %>

  <div>
    <%= label_tag :custodian_email_address %><br />
    <%= text_field_tag :custodian_email_address %>
  </div>
  <div>
    <%= submit_tag "Add Helper" %>
  </div>
<% end %>
