<h1>User #<%= @user.id %></h1>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email address:</b>
  <%= @user.email_address %>
</p>


